body{
    margin: 0;
    background-color: #F7F8F9;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to right,#114d82,#2971b1, #1A76C0, #1A76C0, #2971b1,#114D82);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content:center;
}
.nav__menu {
    display: flex;
    position: relative;
}
.nav__menu > a {
    text-decoration: none;
    color: white;
    margin: 6px;
    padding: 3px 8px;
    border-radius: 3px;
}
.nav__menu > a > img {
    width: 16px;
}

.nav__menu > a:hover{
    text-decoration: underline;
}
.nav__menu > a:active {
    background-color:#003F7D;
}
#selected {
    background-color:#003F7D;
}
#logo {
    position: absolute;
    left: 100px;
    top: 3px;
    width: 5%;
}
.link {
    margin-left: 100px;
}
.link > a{
    padding: 0px;
    margin: 12px 4px;
}
.link > img {
    width: 25px;
    padding: 5px;
    border-radius: 8px;
}
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.left {
    width: fit-content;
    /* border: 1px solid grey; */
    height: 500px;
    padding: 10px;
    margin: 20px;
}
#activity__menu {
    color:purple ;
}

.left__menu__text {
    text-decoration: none;
    color: #155c88;
}
.left__menu__text:hover {
    text-decoration: underline;
}
.left__headings {
    font-weight: bold;
    margin: 5px 0px;
    color: #2C475C;
}
.mid__activity {
    width: 35%;
    border: 1px solid #F0F0F0;
    border-radius: 8px 8px 0px 0px;
    height: 500px;
    margin: 20px;
    display: block;
    /* padding: 10px; */
}
#input {
    width: 80%;
}
.comment__box {
    display: block;
    width: 100%;
    height: 400px;
    padding: 0px 15px;
    background-color:#F7F8F9 ;
    /* display: flex; */
}
.comment__box__textarea > p{
    font-size: 11px;
    font-weight: bold;
}
.comment__box__textarea > button {
    border-radius: 4px;
    border: none;
    background-color: rgb(224, 221, 221);
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
.table__comment {
    max-width: 100%;
    max-height: 100px;
}
.commentList {
    border: 1px solid rgb(204, 203, 203);
    border-radius: 10px;
    max-width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#taskList {
    max-width: 100%;
}
#profileImg {
    width: 30px;
    border-radius: 5px;
    padding-left: 3px;
} 
.row {
    margin: 15px;
    border: 1px solid #F0F0F0;
    color: rgb(82, 80, 80);
    border-radius: 5px;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#deletComnt {
    border: none;
    background:transparent;
    color: red;
    padding-right: 10px;
    cursor: pointer;
}
.row > p{
    font-size: 15px;
    font-style: italic;
    padding: 0px 5px;
}

.invitation {
    display: none;
    width: 45%;
    margin: 20px 40px;
    height: fit-content;
}
.invitation__content__box{
    background-color: white;
    height: 120px;
    margin-bottom: 20px;
}
.invitation__content__box > p{
    font-weight: bold;
    color: #6d6a6a;
    padding: 28px;
}
.invitation__box__heading {
    background-color: #EDF0F3;
    color: #2C475C;
    font-weight: bold;
    border-radius: 8px 8px 0px 0px;
    padding: 3px 5px;
    font-size: 11px;   
}
.right {
    width: 10%;
    height: fit-content;
    /* border: 1px solid blue; */
    border-radius: 8px 8px 0px 0px ;
    background-color: white;
    margin:20px;
    display: block;
}
.right__header {
    background-color: #EDF0F3;
    color: #2C475C;
    font-weight: bold;
    border-radius: 8px 8px 0px 0px;
    padding: 3px 5px;
    font-size: 11px;
}
.right__headings {
    font-weight: bold;
    margin: 5px;
}

.right__table {
    line-height: 0px;
    /* margin: 0px; */
}
#select__friends {
    width: 70%;
    padding: 4px;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 8px
}

.footer {
    clear: both;
}
.footer__line {
    width: 60%;
    margin: 5px  auto;
    height: 1px;
    background-color: #aaacad;
}
.footer__links {
    display: flex;
    justify-content: center;
}
.footer__links > a {
    font-size: 11px;
    color: #aaacad;
    margin: 6px 8px;
    text-decoration: none;
}
.footer__links > a:hover {
    text-decoration: underline;
    color:#6FB8E7;
}
.footer__text {
    font-size: 11px;
    color: #aaacad;
    text-align: center;
    margin-bottom: 10px;
}